# Xcode
*.xcodeproj
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/
Packages/
Package.pins
Package.resolved
.build/

# CocoaPods (unused here)
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store

# Environment
*.env
*.env.local
